.profile-info-section {
  border-top: 1px solid rgba(200,200,200,.7);
}

.profile-info-header {
  width: 100%;
  padding: 2rem 0;
}

.profile-info-body {
  padding: 3rem 0;
}

.profile-info-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
================================================

Buttons

================================================
*/

.list {
  margin-bottom: 16px;
}

.edit, .cancel {
  margin-left: 24px;
}

.remove-item-btn {
  margin-right: 24px;
}

/*
================================================

List Items

================================================
*/

.odd-list-item {
  background-color: #e9ecef;
}