.profile-info-section {
  border-top: 1px solid rgba(200,200,200,.7);
}

.profile-info-header {
  width: 100%;
  padding: 2rem 0;
}

.profile-info-body {
  padding: 3rem 0;
}

.profile-info-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
================================================

Buttons

================================================
*/

<<<<<<< HEAD
.edit {
=======
.list {
  margin-bottom: 16px;
}

.edit, .cancel {
>>>>>>> bc95dacb61aae8ef8367e5c5f8dcc38ce5593b36
  margin-left: 24px;
}