#explore-projects{
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
  font-size: 3em;
  color:#080808;
}

.form-control{
  height:60px;
  padding:20px;
  font-size:18px;
}

.form-control::-webkit-input-placeholder{
  font-size:18px;
}

.search-button{
  height:60px;
  width: 120px;
  background: #04d092;
  font-weight: 700;
  border-color: #04d092;
  text-transform: uppercase;
}

.start-date{
  color:#26b999;
  font-weight:700;
}
