.project-badge-warning {
  background-color: rgb(248, 212, 7);
  padding: 1rem 1.5rem;
  color: white;
  text-align: center;
  border-radius: 15px;
  font-size: 1.25rem;
  display: inline-block;
}

.project-badge-danger {
  background-color: rgb(235, 75, 12);
  padding: 1rem 1.5rem;
  color: white;
  text-align: center;
  border-radius: 15px;
  font-size: 1.25rem;
  display: inline-block;
}

.project-badge-success {
  background-color: rgb(29, 172, 16);
  padding: 1rem 1.5rem;
  color: white;
  text-align: center;
  border-radius: 15px;
  font-size: 1.25rem;
  display: inline-block;
}

.project-badge-info {
  background-color: rgb(12, 53, 187);
  padding: 1rem 1.5rem;
  color: white;
  text-align: center;
  border-radius: 15px;
  font-size: 1.25rem;
  display: inline-block;
}

.project-badge-default {
  background-color: rgb(104, 108, 119);
  padding: 1rem 1.5rem;
  color: white;
  text-align: center;
  border-radius: 15px;
  font-size: 1.25rem;
  display: inline-block;
}