
/*
======================================================

layout

======================================================
*/

.verbose-footer {
    width: 100%;
}

.nav-link-footer {
    margin:0 auto;
}

.footer-about {
    padding-top: 16px;
}

.footer-about-heading {
    margin-bottom: 14px;
}

/*
======================================================

font

======================================================
*/
.copyright-text {
    font-size: 12px;
}


/*
======================================================

color

======================================================
*/

.verbose-footer, .copyright {
    background-color: #e9ecef;
}