.nav-link-footer {
    margin:0 auto;
}

.footer-about {
    padding-top: 16px;
}

.footer-about-heading {
    margin-bottom: 14px;
}

.verbose-footer {
    margin-top: 48px;
    border-top: 1px solid rgba(200,200,200,.7);
}